In [1]:
import pandas as pd

In [6]:
# data from public citibike trip page

file = "Resources/JC-201901-citibike-tripdata.csv"

df = pd.read_csv(file)

df

# 19676 rows, 15 columbs - from 2019

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19671,853,2019-01-26 06:40:17.3320,2019-01-26 06:54:30.8880,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26293,Subscriber,1977,1
19672,936,2019-01-27 06:36:20.6400,2019-01-27 06:51:57.1460,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26291,Subscriber,1977,1
19673,653,2019-01-27 21:14:08.5460,2019-01-27 21:25:01.6170,3694,Jackson Square,40.711130,-74.078900,3677,Glenwood Ave,40.727551,-74.071061,26188,Customer,1998,2
19674,960,2019-01-29 06:15:26.5880,2019-01-29 06:31:26.7300,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26196,Subscriber,1977,1
19675,1109,2019-01-30 06:30:03.6050,2019-01-30 06:48:33.2760,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,26242,Subscriber,1977,1

In [7]:
#index
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [9]:
new_df = df[['tripduration', 'starttime', 'stoptime',
       'start station name', 'start station latitude',
       'start station longitude', 'end station name',
       'end station latitude', 'end station longitude', 'usertype',
       'birth year', 'gender']]
new_df

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,Exchange Place,40.716247,-74.033459,Essex Light Rail,40.712774,-74.036486,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,Exchange Place,40.716247,-74.033459,Washington St,40.724294,-74.035483,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,Exchange Place,40.716247,-74.033459,Liberty Light Rail,40.711242,-74.055701,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,Exchange Place,40.716247,-74.033459,Washington St,40.724294,-74.035483,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,Exchange Place,40.716247,-74.033459,Washington St,40.724294,-74.035483,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...
19671,853,2019-01-26 06:40:17.3320,2019-01-26 06:54:30.8880,Jackson Square,40.711130,-74.078900,Exchange Place,40.716247,-74.033459,Subscriber,1977,1
19672,936,2019-01-27 06:36:20.6400,2019-01-27 06:51:57.1460,Jackson Square,40.711130,-74.078900,Exchange Place,40.716247,-74.033459,Subscriber,1977,1
19673,653,2019-01-27 21:14:08.5460,2019-01-27 21:25:01.6170,Jackson Square,40.711130,-74.078900,Glenwood Ave,40.727551,-74.071061,Customer,1998,2
19674,960,2019-01-29 06:15:26.5880,2019-01-29 06:31:26.7300,Jackson Square,40.711130,-74.078900,Exchange Place,40.716247,-74.033459,Subscriber,1977,1
19675,1109,2019-01-30 06:30:03.6050,2019-01-30 06:48:33.2760,Jackson Square,40.711130,-74.078900,Exchange Place,40.716247,-74.033459,Subscriber,1977,1

In [13]:

new_df.index.name = "numbers"
print(new_df, "\n")

print(new_df.index.name)
#new_df.index.name

         tripduration                 starttime                  stoptime  \
numbers
0                 201  2019-01-01 03:09:09.7110  2019-01-01 03:12:30.8790
1                 505  2019-01-01 05:18:00.1060  2019-01-01 05:26:25.9050
2                 756  2019-01-01 10:36:33.3400  2019-01-01 10:49:10.2600
3                1575  2019-01-01 12:43:38.6430  2019-01-01 13:09:54.5280
4                1566  2019-01-01 12:43:39.6010  2019-01-01 13:09:46.5100
...               ...                       ...                       ...
19671             853  2019-01-26 06:40:17.3320  2019-01-26 06:54:30.8880
19672             936  2019-01-27 06:36:20.6400  2019-01-27 06:51:57.1460
19673             653  2019-01-27 21:14:08.5460  2019-01-27 21:25:01.6170
19674             960  2019-01-29 06:15:26.5880  2019-01-29 06:31:26.7300
19675            1109  2019-01-30 06:30:03.6050  2019-01-30 06:48:33.2760

        start station name  start station latitude  start station longitude  \
numbers
0           Exchange Place               40.716247               -74.033459
1           Exchange Place               40.716247               -74.033459
2           Exchange Place               40.716247               -74.033459
3           Exchange Place               40.716247               -74.033459
4           Exchange Place               40.716247               -74.033459
...                    ...                     ...                      ...
19671       Jackson Square               40.711130               -74.078900
19672       Jackson Square               40.711130               -74.078900
19673       Jackson Square               40.711130               -74.078900
19674       Jackson Square               40.711130               -74.078900
19675       Jackson Square               40.711130               -74.078900

           end station name  end station latitude  end station longitude  \
numbers
0          Essex Light Rail             40.712774             -74.036486
1             Washington St             40.724294             -74.035483
2        Liberty Light Rail             40.711242             -74.055701
3             Washington St             40.724294             -74.035483
4             Washington St             40.724294             -74.035483
...                     ...                   ...                    ...
19671        Exchange Place             40.716247             -74.033459
19672        Exchange Place             40.716247             -74.033459
19673          Glenwood Ave             40.727551             -74.071061
19674        Exchange Place             40.716247             -74.033459
19675        Exchange Place             40.716247             -74.033459

           usertype  birth year  gender
numbers
0        Subscriber        1993       1
1        Subscriber        1972       2
2        Subscriber        1985       1
3          Customer        1969       0
4          Customer        1969       0
...             ...         ...     ...
19671    Subscriber        1977       1
19672    Subscriber        1977       1
19673      Customer        1998       2
19674    Subscriber        1977       1
19675    Subscriber        1977       1

[19676 rows x 12 columns]

numbers

In [21]:
# only extracted first 500 rows because didn't want loading issues

newer_df = new_df.loc[0:500]
newer_df

,tripduration,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,usertype,birth year,gender
numbers,,,,,,,,,,,,
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,Exchange Place,40.716247,-74.033459,Essex Light Rail,40.712774,-74.036486,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,Exchange Place,40.716247,-74.033459,Washington St,40.724294,-74.035483,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,Exchange Place,40.716247,-74.033459,Liberty Light Rail,40.711242,-74.055701,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,Exchange Place,40.716247,-74.033459,Washington St,40.724294,-74.035483,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,Exchange Place,40.716247,-74.033459,Washington St,40.724294,-74.035483,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...
496,511,2019-01-18 13:43:52.4060,2019-01-18 13:52:24.3500,Exchange Place,40.716247,-74.033459,Hamilton Park,40.727596,-74.044247,Subscriber,1969,1
497,262,2019-01-18 16:28:40.6720,2019-01-18 16:33:03.4040,Exchange Place,40.716247,-74.033459,Morris Canal,40.712419,-74.038526,Subscriber,1976,2
498,225,2019-01-18 16:35:09.9760,2019-01-18 16:38:55.8450,Exchange Place,40.716247,-74.033459,Essex Light Rail,40.712774,-74.036486,Subscriber,1954,2
499,263,2019-01-18 16:56:38.6920,2019-01-18 17:01:02.1140,Exchange Place,40.716247,-74.033459,Grove St PATH,40.719586,-74.043117,Subscriber,1981,1
500,398,2019-01-18 17:00:55.4490,2019-01-18 17:07:34.2400,Exchange Place,40.716247,-74.033459,Manila & 1st,40.721651,-74.042884,Subscriber,1971,1

In [27]:
# converting 
newer_df.to_csv("Resources/final_clean.csv")